// Declarating style variables

//Bootstrap Breakpoints
  // xs: 0,
  // sm: 576px,
  // md: 768px,
  // lg: 992px,
  // xl: 1200px,
  // xxl: 1400px
$breakpoint-lg: 1200px;
$breakpoint-sm: 768px;
$breakpoint-alb: 500px;

// Fonts
$mainfont: 'Jost', sans-serif;
$biggestsize: 1.8rem;
$biggersize: 1.2rem;
$mainsize: 20px;
$mobilesize: 16px;
$mobilealbumsize: 12px;
$smallsize: 0.6rem;

// Colors
$font-color-primary: rgba(4, 41, 58, 1);
$font-color-diminished: rgba(4, 41, 58, 0.5);
$color-accent: #ECB365;
$background-gradient: linear-gradient(45deg, #fdfbfb 0%, #ebedee 100%);
$highlight-gradient: linear-gradient(45deg, #c471f5 0%, #fa71cd 100%);

// Dimensions
$card-v-dimension: 75vh;
$card-between-spacing: calc((100vh - $card-v-dimension) / 2);
$card-v-dimension-bigger: 90vh;
$card-between-spacing-bigger: calc((100vh - $card-v-dimension-bigger) / 2);
$card-v-dimension-mobile: 95vh;
$card-between-spacing-mobile: calc((100vh - $card-v-dimension-mobile) / 2);
$card-corner-innerradius: 1rem;
$card-border-thickness: 0.2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainfont;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: $mainsize;
  }
  @media screen and (max-width: $breakpoint-sm) {
    font-size: $mobilesize;
  }
  @media screen and (max-height: $breakpoint-alb) {
    font-size: $mobilealbumsize;
  }
}

body {
  color: $font-color-primary;
}

.backGradient {
  position: fixed;
  top: 0;
  left: 0;
  background: $background-gradient;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

aside {
  padding: 2% 4%;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: $biggersize;

    z-index: -1;
    width: 25%;
    height: 100vh;
    align-items: flex-start;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 80%, rgba(238, 241, 245, 0) 100%);
  }
  @media screen and (max-width: $breakpoint-sm) {
    // position: sticky;
    z-index: 10;
    top: -100vh;
    width: 100%;
    height: 7vh;
    align-items: center;
    background-color: #ffffff;
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 80%, rgba(238, 241, 245, 0) 100%);
  }
}

.contacts {
  font-size: $smallsize;
  a {
    font-size: $smallsize;
  }
  @media screen and (max-width: $breakpoint-sm) {
    visibility: hidden;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .contents {
    visibility: hidden;
  }
}


main {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: right;
  // scroll-snap-type: y mandatory;
  overflow-y: scroll;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 $card-between-spacing;
    width: 75%;
    height: 100vh;
  }
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    padding: 0 $card-between-spacing-bigger;
    width: 75%;
  }
  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 $card-between-spacing-mobile;
    width: 100%;
  }
}

.bordersec {
  width: 100%;
  flex-shrink: 0;
  // scroll-snap-align: center;
  padding: $card-border-thickness;
  background-image: $highlight-gradient;
  border-radius: $card-corner-innerradius + $card-border-thickness;
  box-shadow: rgba(17, 12, 46, 0.3) 0px 48px 100px 0px;
  will-change: transform, opacity;
  @media screen and (min-width: $breakpoint-lg) {
    min-height: $card-v-dimension;
    margin: $card-between-spacing;
    transform: translateX(3rem);
    opacity: 0;
  }
  @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    height: $card-v-dimension-bigger;
    margin: $card-between-spacing-bigger;
    transform: translateX(3rem);
    opacity: 0;
  }
  @media screen and (max-width: $breakpoint-sm) {
    height: $card-v-dimension-mobile;
    margin: $card-between-spacing-mobile;
  }
  
  &.active {
    animation: slideIn 2s cubic-bezier(0.23, 1, 0.320, 1) 0s 1 forwards;
  }
}

.mysec {
  height: 100%;
  width: 100%;
  border-radius: $card-corner-innerradius;
  overflow: hidden;
  background-color: #ffffff;
  @media screen and (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  @media screen and (max-width: $breakpoint-lg) {
    display: flex;
    flex-direction: column;
  }
}

.sectiontext {
  padding: 2rem;
  margin: auto 0;
  text-align: justify;
  @media screen and (min-width: $breakpoint-lg) {
    flex-basis: 50px;
    flex-grow: 1;
  }
  @media screen and (max-width: $breakpoint-lg) {
    flex-grow: 0;
    flex-shrink: 0;
  }

  mark {
    background: $highlight-gradient;
  }

  ul {
    margin-left: 2rem;
  }

  .h1 .h2 {
    text-align: left;
  }
}

.sectionimg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
  color: $color-accent;
  font-size: $biggestsize;
}

h2 {
  color: $color-accent;
  font-size: $biggersize;
}

@keyframes slideIn {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

// .ponts {
//   margin: 1vh;
//   display: flex;
//   flex-direction: column;
// }

.point {
  margin: 1vh;
  // transition: transform 0.5s, opacity 0.5s, color 0.5;
  transition-property: transform, opacity, color;
  transition-duration: 0.5s;
  transform: translateX(-200px);
  opacity: 0;
  color: $font-color-diminished;
  cursor: pointer;

  &.shown {
    transform: translateX(0px);
    opacity: 1;

    &.inView {
      transform: scale(1.05);
      color: $font-color-primary;
    }
  }
}

